<template>
  <div class="generic-header-container">
    <HeaderMoleMain />
    <HeaderMoleOperations />
    <HeaderMoleMenu />
  </div>
</template>

<style>
.generic-header-container {
  @apply flex alley items-center justify-between py-5;
}
</style>
