<script setup>
const { locale } = useI18n();
const localePath = useLocalePath();

const query = gql`
  query YourGuide {
    categories(where: { wpmlLanguage: "en", termTaxonomId: "66" }) {
      nodes {
        databaseId
        name
        children {
          edges {
            node {
              name
              slug
              description
              databaseId
              Media {
                image {
                  sourceUrl
                }
              }
            }
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };

const { data } = await useAsyncQuery(query, variables);
const content = data.value.categories.nodes[0].children.edges;
</script>

<template>
  <div id="secondary-navigation">
    <nav>
      <ul>
        <li v-for="link in content">
          <NuxtLink :to="localePath(link.node.slug)">
            {{ link.node.name }}
          </NuxtLink>
        </li>
      </ul>
    </nav>
  </div>
</template>

<style scoped>
#secondary-navigation {
  @apply hidden lg:flex border-t;
}

nav {
  @apply alley text-sm;
}

ul {
  @apply flex items-center gap-x-6;
}

li {
  @apply py-4 px-4 -mx-4 flex;
}
</style>
