<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div class="section-heading">
    <ShareAtomSectionHeading>
      <slot />
    </ShareAtomSectionHeading>

    <ShareAtomSectionMore
      v-if="data.slug"
      :slug="data.slug" :class="data.color" />
  </div>
</template>

<style scoped>
.section-heading {
  @apply alley flex justify-between items-center gap-4;
}
</style>
