<template>
  <div id="home-place-navigation">
    <div
      dir="ltr"
      id="home-place-navigation-buttons">
      <button
        id="home-place-prev-slide"
        class="home-place-navigation-button">
        <HomePlaceAtomIconPrev />
      </button>
      <button
        id="home-place-next-slide"
        class="home-place-navigation-button">
        <HomePlaceAtomIconNext />
      </button>
    </div>
  </div>
</template>

<style>
#home-place-navigation {
  @apply hidden absolute inset-0 lg:flex items-end justify-end pb-[40px] alley-padding;
}

#home-place-navigation-buttons {
  @apply flex text-white z-10 gap-4 items-center;
}

.home-place-navigation-button {
  @apply z-10;
}
</style>
