<script setup>
const { locale } = useI18n();

const query = gql`
  query PlacesToVisit ($locale: String! = "en"){
    categories(where: { wpmlLanguage: $locale, termTaxonomId: "16" }) {
      nodes {
        databaseId
        name
        children {
          edges {
            node {
              name
              slug
              description
              Media {
                image {
                  sourceUrl
                }
              }
            }
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };
// categories?.nodes[0].children.edges
const { data } = await useAsyncQuery(query, variables);
const content = data.value?.categories?.nodes[0]?.children.edges || [];
</script>

<template>
  <Swiper
    id="home-place-slider"
    :modules="[
      SwiperAutoplay,
      SwiperPagination,
      SwiperNavigation,
      SwiperEffectFade,
    ]"
    :autoplay="{ delay: 4000 }"
    :speed="500"
    :loop="true"
    :pagination="{
      bulletActiveClass: 'home-place-slider-active-bullet',
      bulletClass: 'swiper-pagination-bullet home-place-pagination-bullet',
    }"
    :navigation="{
      nextEl: '#home-place-next-slide',
      prevEl: '#home-place-prev-slide',
    }"
  >
    <SwiperSlide v-for="slide in content">
      <HomePlaceMoleContent
        :data="{
          tag: $t('home.place.tag'),
          heading: slide.node.name,
          description: slide.node.description,
          slug: '',
          image: slide.node.Media.image?.sourceUrl || '',
        }"
      />
    </SwiperSlide>

    <HomePlaceSliderControls />
  </Swiper>
</template>

<style>
#home-place-slider {
  @apply h-[430px] w-full;
  @apply lg:h-auto lg:aspect-[2.5/1] lg:rounded-2xl lg:overflow-hidden;
}

.home-place-slider-active-bullet {
  @apply opacity-100 bg-white scale-125 transition-all duration-300 ease-in-out;
}

.home-place-pagination-bullet {
  @apply bg-white;
}
</style>
