<script setup lang="ts">
const localePath = useLocalePath();
const props = defineProps(["slug"]);
const path = localePath(props.slug);
</script>

<template>
  <NuxtLink
    :to="localePath(path)"
    class="see-more-link">
    <span>
      {{ $t("share.more") }}
    </span>

    <ShareAtomIconChevron class="h-5 rtl:rotate-180" />
  </NuxtLink>
</template>

<style>
.see-more-link {
  @apply flex items-center gap-1 whitespace-nowrap p-2 -m-2 font-bold;
  @apply lg:text-lg;
}

.see-more-link::first-letter span {
  @apply capitalize;
}
</style>
