<template>
  <svg
    width="46"
    height="46"
    viewBox="0 0 46 46"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_3121_7012)">
      <path
        d="M11.75 16.75C11.75 17.4375 12.3125 18 13 18H33C33.6875 18 34.25 17.4375 34.25 16.75C34.25 16.0625 33.6875 15.5 33 15.5H13C12.3125 15.5 11.75 16.0625 11.75 16.75Z"
        fill="white"
      />
      <path
        d="M33 30.5H13C12.3125 30.5 11.75 29.9375 11.75 29.25C11.75 28.5625 12.3125 28 13 28H33C33.6875 28 34.25 28.5625 34.25 29.25C34.25 29.9375 33.6875 30.5 33 30.5Z"
        fill="white"
      />
      <path
        d="M33 24.25H13C12.3125 24.25 11.75 23.6875 11.75 23C11.75 22.3125 12.3125 21.75 13 21.75H33C33.6875 21.75 34.25 22.3125 34.25 23C34.25 23.6875 33.6875 24.25 33 24.25Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_3121_7012">
        <rect width="30" height="30" fill="white" transform="translate(8 8)" />
      </clipPath>
    </defs>
  </svg>
</template>
