<template>
  <svg
    width="64"
    height="64"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <rect
      width="64"
      height="64"
      rx="32"
      transform="matrix(-1 0 0 1 64 0)"
      fill="black"
      fill-opacity="0.1" />
    <path
      d="M25.5876 22.363L27.7784 20.1846L39.9507 32.3692L27.7661 44.5538L25.5876 42.3753L35.5938 32.3692L25.5876 22.363Z"
      fill="white" />
    <rect
      x="-0.5"
      y="0.5"
      width="63"
      height="63"
      rx="31.5"
      transform="matrix(-1 0 0 1 63 0)"
      stroke="white"
      stroke-opacity="0.3" />
  </svg>
</template>
