<template>
  <div
    class="swiper-button-custom swiper-button-custom-next universities-carousel-next"
  >
    <ShareAtomIconSwiper />
  </div>
  <div
    class="swiper-button-custom swiper-button-custom-prev universities-carousel-prev"
  >
    <ShareAtomIconSwiper />
  </div>
</template>
