<template>
  <section>
    <ShareMoleSectionHeading
      :data="{
        slug: '/your-guide/education/universities/',
        color: 'text-[#7D161F]',
      }"
    >
      {{ $t("education.universities") }}
    </ShareMoleSectionHeading>

    <EducationCarouselUniversities />
  </section>
</template>
