<template>
  <div id="filter-body">
    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Type</h3>
      <div class="flex items-center gap-2">
        <input
          id=""
          type="checkbox"
          value=""
          class="w-4 h-4 rounded accent-[#D53B10]"
        />
        <label for="default-checkbox" class="">Public</label>
      </div>

      <div class="flex items-center gap-2">
        <input
          id=""
          type="checkbox"
          value=""
          class="w-4 h-4 rounded accent-[#D53B10]"
        />
        <label for="default-checkbox" class="">Private</label>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Annual Fees</h3>

      <div class="relative pb-4">
        <input
          id="default-range"
          type="range"
          value="50"
          class="w-full h-2 bg-[#B6B5B6] rounded-lg cursor-pointer accent-[#D53B10]"
        />
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Rating</h3>
      <div class="">
        <RadioGroup class="flex flex-wrap gap-4 font-medium">
          <RadioGroupOption v-slot="{ checked }" value="startup">
            <span
              class="outline outline-[1px] py-0.5 outline-[#555] px-4 rounded"
              :class="
                checked ? 'bg-[#D53B10] outline-[#D53B10] text-white' : ''
              "
              >Startup</span
            >
          </RadioGroupOption>
          <RadioGroupOption v-slot="{ checked }" value="business">
            <span
              class="outline outline-[1px] py-0.5 outline-[#555] px-4 rounded"
              :class="
                checked ? 'bg-[#D53B10] outline-[#D53B10] text-white' : ''
              "
              >Business</span
            >
          </RadioGroupOption>
          <RadioGroupOption v-slot="{ checked }" value="enterprise">
            <span
              class="outline outline-[1px] py-0.5 outline-[#555] px-4 rounded"
              :class="
                checked ? 'bg-[#D53B10] outline-[#D53B10] text-white' : ''
              "
              >Enterprise</span
            >
          </RadioGroupOption>
        </RadioGroup>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Grades</h3>

      <div class="flex items-center gap-2">
        <input
          id=""
          type="checkbox"
          value=""
          class="w-4 h-4 rounded accent-[#D53B10]"
        />
        <label for="default-checkbox" class="">Pre KG</label>
      </div>

      <div class="flex items-center gap-2">
        <input
          id=""
          type="checkbox"
          value=""
          class="w-4 h-4 rounded accent-[#D53B10]"
        />
        <label for="default-checkbox" class="">Grade 1 - 9</label>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-semibold">Location</h3>

      <div class="border">
        <Listbox>
          <ListboxButton class="text-start p-3 rounded border w-full">Place 1</ListboxButton>
          <ListboxOptions class="p-3 flex flex-col gap-2">
            <ListboxOption> Place 1 </ListboxOption>
            <ListboxOption> Place 2 </ListboxOption>
            <ListboxOption> Place 3 </ListboxOption>
            <ListboxOption> Place 4 </ListboxOption>
            <ListboxOption> Place 5 </ListboxOption>
          </ListboxOptions>
        </Listbox>
      </div>
    </div>
  </div>
</template>

<style>
#filter-body {
  @apply flex-1 py-5 alley-padding flex flex-col gap-6;
}
</style>
