<template>
  <PopoverButton id="filter-button">
    <span> Filters </span>
    <EducationFilterIcon />
  </PopoverButton>
</template>

<style>
#filter-button {
  @apply border font-semibold py-2 px-4 gap-2 flex items-center rounded-md focus:ring-0;
}
</style>
