<template>
  <div id="filter-head">
    <button class="text-[#7D161F] font-semibold">Clear</button>
    <h2 class="text-xl font-semibold">Filter</h2>
    <PopoverButton id="filter-button">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_3207_21605)">
          <path
            d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
            fill="#323232"
          />
        </g>
        <defs>
          <clipPath id="clip0_3207_21605">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </PopoverButton>
  </div>
</template>

<style>
#filter-head {
  @apply alley-padding py-4 flex justify-between items-center border-b;
}
</style>
