<template>
  <svg
    width="24"
    height="25"
    viewBox="0 0 24 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9 6.50245C8.73478 6.50245 8.48043 6.60781 8.29289 6.79534C8.10536 6.98288 8 7.23723 8 7.50245C8 7.76767 8.10536 8.02202 8.29289 8.20956C8.48043 8.39709 8.73478 8.50245 9 8.50245C9.26522 8.50245 9.51957 8.39709 9.70711 8.20956C9.89464 8.02202 10 7.76767 10 7.50245C10 7.23723 9.89464 6.98288 9.70711 6.79534C9.51957 6.60781 9.26522 6.50245 9 6.50245ZM6.17 6.50245C6.3766 5.91692 6.75974 5.40988 7.2666 5.05124C7.77346 4.6926 8.37909 4.5 9 4.5C9.62091 4.5 10.2265 4.6926 10.7334 5.05124C11.2403 5.40988 11.6234 5.91692 11.83 6.50245H19C19.2652 6.50245 19.5196 6.60781 19.7071 6.79534C19.8946 6.98288 20 7.23723 20 7.50245C20 7.76767 19.8946 8.02202 19.7071 8.20956C19.5196 8.39709 19.2652 8.50245 19 8.50245H11.83C11.6234 9.08798 11.2403 9.59502 10.7334 9.95366C10.2265 10.3123 9.62091 10.5049 9 10.5049C8.37909 10.5049 7.77346 10.3123 7.2666 9.95366C6.75974 9.59502 6.3766 9.08798 6.17 8.50245H5C4.73478 8.50245 4.48043 8.39709 4.29289 8.20956C4.10536 8.02202 4 7.76767 4 7.50245C4 7.23723 4.10536 6.98288 4.29289 6.79534C4.48043 6.60781 4.73478 6.50245 5 6.50245H6.17ZM15 12.5025C14.7348 12.5025 14.4804 12.6078 14.2929 12.7953C14.1054 12.9829 14 13.2372 14 13.5025C14 13.7677 14.1054 14.022 14.2929 14.2096C14.4804 14.3971 14.7348 14.5025 15 14.5025C15.2652 14.5025 15.5196 14.3971 15.7071 14.2096C15.8946 14.022 16 13.7677 16 13.5025C16 13.2372 15.8946 12.9829 15.7071 12.7953C15.5196 12.6078 15.2652 12.5025 15 12.5025ZM12.17 12.5025C12.3766 11.9169 12.7597 11.4099 13.2666 11.0512C13.7735 10.6926 14.3791 10.5 15 10.5C15.6209 10.5 16.2265 10.6926 16.7334 11.0512C17.2403 11.4099 17.6234 11.9169 17.83 12.5025H19C19.2652 12.5025 19.5196 12.6078 19.7071 12.7953C19.8946 12.9829 20 13.2372 20 13.5025C20 13.7677 19.8946 14.022 19.7071 14.2096C19.5196 14.3971 19.2652 14.5025 19 14.5025H17.83C17.6234 15.088 17.2403 15.595 16.7334 15.9537C16.2265 16.3123 15.6209 16.5049 15 16.5049C14.3791 16.5049 13.7735 16.3123 13.2666 15.9537C12.7597 15.595 12.3766 15.088 12.17 14.5025H5C4.73478 14.5025 4.48043 14.3971 4.29289 14.2096C4.10536 14.022 4 13.7677 4 13.5025C4 13.2372 4.10536 12.9829 4.29289 12.7953C4.48043 12.6078 4.73478 12.5025 5 12.5025H12.17ZM9 18.5025C8.73478 18.5025 8.48043 18.6078 8.29289 18.7953C8.10536 18.9829 8 19.2372 8 19.5025C8 19.7677 8.10536 20.022 8.29289 20.2096C8.48043 20.3971 8.73478 20.5025 9 20.5025C9.26522 20.5025 9.51957 20.3971 9.70711 20.2096C9.89464 20.022 10 19.7677 10 19.5025C10 19.2372 9.89464 18.9829 9.70711 18.7953C9.51957 18.6078 9.26522 18.5025 9 18.5025ZM6.17 18.5025C6.3766 17.9169 6.75974 17.4099 7.2666 17.0512C7.77346 16.6926 8.37909 16.5 9 16.5C9.62091 16.5 10.2265 16.6926 10.7334 17.0512C11.2403 17.4099 11.6234 17.9169 11.83 18.5025H19C19.2652 18.5025 19.5196 18.6078 19.7071 18.7953C19.8946 18.9829 20 19.2372 20 19.5025C20 19.7677 19.8946 20.022 19.7071 20.2096C19.5196 20.3971 19.2652 20.5025 19 20.5025H11.83C11.6234 21.088 11.2403 21.595 10.7334 21.9537C10.2265 22.3123 9.62091 22.5049 9 22.5049C8.37909 22.5049 7.77346 22.3123 7.2666 21.9537C6.75974 21.595 6.3766 21.088 6.17 20.5025H5C4.73478 20.5025 4.48043 20.3971 4.29289 20.2096C4.10536 20.022 4 19.7677 4 19.5025C4 19.2372 4.10536 18.9829 4.29289 18.7953C4.48043 18.6078 4.73478 18.5025 5 18.5025H6.17Z"
      fill="black"
    />
  </svg>
</template>
