<template>
  <PopoverPanel id="filter-panel">
    <EducationFilterHead />
    <EducationFilterBody />
    <EducationFilterResult />
  </PopoverPanel>
</template>

<style>
#filter-panel {
  @apply fixed inset-0 z-40 bg-white rounded-t-2xl lg:rounded-2xl flex flex-col overflow-y-scroll lg:max-w-2xl lg:mx-auto lg:my-10 lg:max-h-[700px] no-scrollbar;
}
</style>
