<template>
  <div id="filter-result">
    <PopoverButton class="result-button"> Show results </PopoverButton>
  </div>
</template>

<style>
#filter-result {
  @apply border-t alley-padding py-4 flex justify-center;
}

.result-button {
  @apply py-3 bg-[#D53B10] text-white px-20 rounded-lg font-semibold;
}
</style>
