<template>
  <div class="flex">
    <span class="home-place-content-tag">
      <slot />
    </span>
  </div>
</template>

<style>
.home-place-content-tag {
  @apply text-sm font-semibold py-1 px-3 bg-black bg-opacity-20 rounded;
}
</style>
