<script setup lang="ts">
const { locale } = useI18n();

const switchLocalePath = useSwitchLocalePath();
</script>

<template>
  <div id="alpha">
    <IconLogo class="h-10 -mx-1" />
    <a
      :href="locale === 'en' ? switchLocalePath('ar') : switchLocalePath('en')"
      class="flex items-center mt-6 gap-2 p-2 -m-2">
      <IconGlobe class="w-5" />
      <span>
        {{  $t('navigation.other_locale')  }}
      </span>
    </a>
  </div>
</template>

<style scoped>
#alpha {
  @apply flex flex-col items-center justify-center order-1;
  @apply lg:col-span-3 lg:justify-start lg:items-start;
}
</style>
