<template>
  <FooterAtomIconDblob id="desktop-blob" />
  <FooterAtomIconGblob id="global-blob" />
</template>

<style scoped>
#desktop-blob {
  @apply absolute bottom-0 ltr:left-0 rtl:right-0 rtl:transform rtl:-scale-x-100 hidden lg:flex;
}

#global-blob {
  @apply absolute bottom-0 ltr:right-0 rtl:left-0 rtl:transform rtl:-scale-x-100;
}
</style>
