<template>
  <nav class="">
    <FooterAlpha />
    <FooterLinks />
    <FooterFollow />
  </nav>
</template>

<style scoped>
nav {
  @apply flex flex-col alley gap-6;
  @apply lg:grid lg:grid-cols-12 lg:gap-6;
}
</style>
