<template>
  <section>
    <ShareMoleSectionHeading
      :data="{
        slug: '/',
        color: 'text-[#7D161F]',
      }"
    >
      {{ $t("home.featured") }}
    </ShareMoleSectionHeading>

    <HomeFeaturedCarousel />
  </section>
</template>
