<template>
  <div
    class="swiper-button-custom swiper-button-custom-next nurseries-carousel-next"
  >
    <ShareAtomIconSwiper />
  </div>
  <div
    class="swiper-button-custom swiper-button-custom-prev nurseries-carousel-prev"
  >
    <ShareAtomIconSwiper />
  </div>
</template>
