<template>
  <section>
    <ShareMoleSectionHeading
      :data="{
        slug: '/your-guide/education/nurseries/',
        color: 'text-[#7D161F]',
      }"
    >
      {{ $t("education.nurseries") }}
    </ShareMoleSectionHeading>

    <EducationCarouselNurseries />
  </section>
</template>
