<script setup>
const props = defineProps(["uri"]);
const localePath = useLocalePath();
</script>

<template>
  <li>
    <NuxtLink :to="localePath(uri)">
      <slot />
    </NuxtLink>
  </li>
</template>
