<template>
  <button type="button" id="generic-header-search">
    <HeaderAtomIconSearch />
  </button>
</template>

<style>
#generic-header-search {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5;
}
</style>
