<script setup lang="ts">
const { locale } = useI18n();

const switchLocalePath = useSwitchLocalePath();
</script>

<template>
  <a
    :href="locale === 'en' ? switchLocalePath('ar') : switchLocalePath('en')"
    id="generic-header-locale-switcher"
  >
    <span>
      {{ $t("navigation.other_locale") }}
    </span>
    <HeaderAtomIconGlobe />
  </a>
</template>

<style>
#generic-header-locale-switcher {
  @apply hidden lg:flex items-center gap-2 font-bold uppercase;
}
</style>
