<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div
    class="home-hero-slide"
    :style="{
      backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 28%),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 46.98%), url(${data.image?.link || ''})`,
    }">
    <HomeHeroMoleContent :data="data" />
  </div>
</template>

<style>
.home-hero-slide {
  @apply w-full h-full bg-center bg-cover;
}
</style>
