<template>
  <div id="home-hero-navigation">
    <div
      dir="ltr"
      id="home-hero-navigation-buttons">
      <button
        id="home-hero-prev-slide"
        class="home-hero-navigation-button">
        <HomeHeroAtomIconPrev />
      </button>
      <button
        id="home-hero-next-slide"
        class="home-hero-navigation-button">
        <HomeHeroAtomIconNext />
      </button>
    </div>
  </div>
</template>

<style>
#home-hero-navigation {
  @apply hidden absolute inset-0 lg:flex items-end justify-end pb-[72px] alley;
}

#home-hero-navigation-buttons {
  @apply flex text-white z-10 gap-4 items-center;
}

.home-hero-navigation-button {
  @apply z-10;
}
</style>
