<script setup>
const { locale } = useI18n();

const query = gql`
  query ($locale: String! = "en") {
    sliders(where: { wpmlLanguage: $locale }) {
      nodes {
        id
        Media {
          type
          image {
            link
          }
          video {
            link
          }
        }
        title
        excerpt
      }
    }
  }
`;
const variables = { locale: locale.value.nodes };
const { data } = await useAsyncQuery(query, variables);
const baseState = {
  videoFeedURL: null,
  view: "slider",
};
const homeHeroView = ref(baseState);
</script>

<template>
  <div id="home-hero">
    <Swiper
      v-if="homeHeroView.view === 'slider'"
      id="home-hero-slider"
      :modules="[
        SwiperAutoplay,
        SwiperPagination,
        SwiperNavigation,
        SwiperEffectFade,
      ]"
      :autoplay="{ delay: 4000 }"
      :speed="1000"
      :loop="true"
      effect="fade"
      :fade-effect="{
        crossFade: true,
      }"
      :pagination="{
        bulletActiveClass: 'home-hero-active-bullet',
        bulletClass: 'swiper-pagination-bullet home-hero-pagination-bullet',
      }"
      :navigation="{
        nextEl: '#home-hero-next-slide',
        prevEl: '#home-hero-prev-slide',
      }"
    >
      {{ data }}
      <SwiperSlide v-for="slide in data?.sliders?.nodes || []">
        <HomeHeroSliderCard
          :data="{
            heading: slide.title,
            description: slide.excerpt,
            image: slide.Media.image || null,
            video: slide.Media.video || null,
          }"
        />
      </SwiperSlide>

      <HomeHeroSliderControls />
    </Swiper>

    <HomeHeroSliderVideo v-else :video="homeHeroView.videoFeedURL" />
  </div>
</template>

<style>
#home-hero {
  @apply absolute inset-0;
}

#home-hero-slider {
  @apply absolute inset-0;
}

.home-hero-active-bullet {
  @apply opacity-100 bg-white scale-125 transition-all duration-300 ease-in-out;
}

.home-hero-pagination-bullet {
  @apply bg-white w-2.5 h-2.5;
}
</style>
