<script setup lang="ts">
const socialMediaIcons = [
  {
    component: resolveComponent("MediaAtomIconYoutube"),
    href: "https://www.youtube.com/HeartOfRAK/",
  },
  {
    component: resolveComponent("MediaAtomIconTwitter"),
    href: "https://twitter.com/HeartOfRAK/",
  },
  {
    component: resolveComponent("MediaAtomIconFacebook"),
    href: "https://www.facebook.com/HeartOfRAK/",
  },
  {
    component: resolveComponent("MediaAtomIconInstagram"),
    href: "https://www.instagram.com/HeartOfRAK/",
  },
  {
    component: resolveComponent("MediaAtomIconTiktok"),
    href: "https://www.tiktok.com/@heartofrak/",
  },
];
</script>

<template>
  <ul>
    <li v-for="icon in socialMediaIcons">
      <a :href="icon.href" target="_blank">
        <component :is="icon.component" />
      </a>
    </li>
  </ul>
</template>

<style scoped>
ul {
  @apply flex items-center gap-2;
}

svg {
  @apply fill-current;
}
</style>
