<template>
  <div class="flex">
    <NuxtLink class="home-place-content-crosslink">
      <span>
        <slot />
      </span>

      <ShareLinkageAtomIconArrow />
    </NuxtLink>
  </div>
</template>

<style>
.home-place-content-crosslink {
  @apply font-semibold flex items-center gap-1 py-2.5 px-4 bg-black bg-opacity-30 rounded-[43px];
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
</style>
