<template>
  <header>
    <div id="hero-header">
      <HeaderGeneric />
      <HeaderSecondary />
    </div>
  </header>

  <EducationHero />

  <main>
    <EducationFeatured />
    <EducationSchools />
    <EducationUniversities />
    <EducationNurseries />
    <HomeLinkage />
  </main>
</template>
