<script setup>
const { locale } = useI18n();

const query = gql`
  query EducationSchools {
    posts(where: { wpmlLanguage: "en", categoryId: 3 }) {
      edges {
        node {
          databaseId
          title
          content
          slug
          featuredImage {
            node {
              sourceUrl
            }
          }
          educationDetails {
            costs
            costsTo
            type
            system
          }
          rating
        }
      }
    }
  }
`;

const { data } = await useAsyncQuery(query, { locale: locale.value });
const content = data.value?.posts?.edges || [];
</script>

<template>
  <header>
    <div id="hero-header">
      <HeaderGeneric />
      <HeaderSecondary />
    </div>
  </header>

  <EducationHeros
    :data="{
      title: 'nurseries subcategory title',
      description: 'nurseries subcategory description',
      category: 'nurseries',
    }"
  />

  <main>
    <section>
      <EducationCategoryHeading> Schools </EducationCategoryHeading>

      <div class="flex items-start justify-between">
        <div class="hidden lg:flex gap-6 whitespace-nowrap">
          <Listbox>
            <ListboxButton
              class="text-start p-3 rounded border border-[#787878] w-full flex items-center gap-2 text-[#787878]"
            >
              <span>Type</span>
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.99333 5.41991C1.66667 5.74658 1.66667 6.27324 1.99333 6.59991L7.53333 12.1399C7.79333 12.3999 8.21333 12.3999 8.47333 12.1399L14.0133 6.59991C14.34 6.27325 14.34 5.74658 14.0133 5.41991C13.6867 5.09325 13.16 5.09325 12.8333 5.41991L8 10.2466L3.16667 5.41324C2.84666 5.09324 2.31333 5.09324 1.99333 5.41991Z"
                  fill="#787878"
                />
              </svg>
            </ListboxButton>
          </Listbox>

          <Listbox>
            <ListboxButton
              class="text-start p-3 rounded border border-[#787878] w-full flex items-center gap-2 text-[#787878]"
            >
              <span>Curriculum</span>
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.99333 5.41991C1.66667 5.74658 1.66667 6.27324 1.99333 6.59991L7.53333 12.1399C7.79333 12.3999 8.21333 12.3999 8.47333 12.1399L14.0133 6.59991C14.34 6.27325 14.34 5.74658 14.0133 5.41991C13.6867 5.09325 13.16 5.09325 12.8333 5.41991L8 10.2466L3.16667 5.41324C2.84666 5.09324 2.31333 5.09324 1.99333 5.41991Z"
                  fill="#787878"
                />
              </svg>
            </ListboxButton>
          </Listbox>

          <Listbox>
            <ListboxButton
              class="text-start p-3 rounded border border-[#787878] w-full flex items-center gap-2 text-[#787878]"
            >
              <span>Annual Fees</span>
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.99333 5.41991C1.66667 5.74658 1.66667 6.27324 1.99333 6.59991L7.53333 12.1399C7.79333 12.3999 8.21333 12.3999 8.47333 12.1399L14.0133 6.59991C14.34 6.27325 14.34 5.74658 14.0133 5.41991C13.6867 5.09325 13.16 5.09325 12.8333 5.41991L8 10.2466L3.16667 5.41324C2.84666 5.09324 2.31333 5.09324 1.99333 5.41991Z"
                  fill="#787878"
                />
              </svg>
            </ListboxButton>
          </Listbox>

          <Listbox>
            <ListboxButton
              class="text-start p-3 rounded border border-[#787878] w-full flex items-center gap-2 text-[#787878]"
            >
              <span>System of Education</span>
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.99333 5.41991C1.66667 5.74658 1.66667 6.27324 1.99333 6.59991L7.53333 12.1399C7.79333 12.3999 8.21333 12.3999 8.47333 12.1399L14.0133 6.59991C14.34 6.27325 14.34 5.74658 14.0133 5.41991C13.6867 5.09325 13.16 5.09325 12.8333 5.41991L8 10.2466L3.16667 5.41324C2.84666 5.09324 2.31333 5.09324 1.99333 5.41991Z"
                  fill="#787878"
                />
              </svg>
            </ListboxButton>
          </Listbox>
        </div>

        <div
          class="flex items-center justify-between lg:flex-col lg:items-end lg:gap-4 w-full lg:w-auto"
        >
          <EducationFilter />
          <EducationSort />
        </div>
      </div>

      <div class="text-[#717171]">{{ content.length }} Schools</div>

      <div class="adlisting-grid">
        <EducationCarouselCard
          class="education-carousel-card"
          v-for="post in content"
          :data="{
            image: post.node.featuredImage?.node?.sourceUrl || '',
            title: post.node.title,
            slug: post.node.slug,
            rating: post.node.rating,
            details: post.node.educationDetails,
          }"
        />
      </div>

      <div class="flex justify-center">
        <button class="text-lg text-white bg-[#D53B10] py-4 px-20 rounded-md">
          Load more
        </button>
      </div>
    </section>
  </main>
</template>

<style scoped>
.adlisting-grid {
  @apply grid grid-cols-1 gap-6;
  @apply lg:grid-cols-3 lg:gap-x-6 lg:gap-y-8;
}

main {
  @apply py-12 alley;
}
</style>
