<template>
  <svg
    width="26"
    height="26"
    viewBox="0 0 26 26"
    class="fill-current"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_2809_20224)">
      <path
        d="M7.2605 21.7686L9.10425 23.6123L19.4167 13.2998L9.10425 2.9873L7.2605 4.83105L15.7292 13.2998L7.2605 21.7686Z" />
    </g>
    <defs>
      <clipPath id="clip0_2809_20224">
        <rect
          width="25"
          height="25"
          fill="white"
          transform="translate(0.5 0.799805)" />
      </clipPath>
    </defs>
  </svg>
</template>
