<template>
  <svg
    width="49"
    height="49"
    viewBox="0 0 49 49"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect x="0.5" y="0.5" width="48" height="48" rx="24" fill="white" />
    <g clip-path="url(#clip0_3390_21219)">
      <path
        d="M21.75 16.25L19.8113 18.1887L26.1088 24.5L19.8113 30.8113L21.75 32.75L30 24.5L21.75 16.25Z"
        fill="#323232"
      />
    </g>
    <rect x="0.5" y="0.5" width="48" height="48" rx="24" stroke="#DFDFDF" />
    <defs>
      <clipPath id="clip0_3390_21219">
        <rect width="33" height="33" fill="white" transform="translate(8 8)" />
      </clipPath>
    </defs>
  </svg>
</template>
