<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M23.3998 15.0511C23.3998 10.3828 19.6387 6.59863 14.9998 6.59863C10.3588 6.59968 6.59766 10.3828 6.59766 15.0522C6.59766 19.27 9.66996 22.7665 13.6852 23.4007V17.4945H11.5537V15.0522H13.6873V13.1884C13.6873 11.0706 14.942 9.90088 16.8604 9.90088C17.7802 9.90088 18.7409 10.0657 18.7409 10.0657V12.1447H17.6815C16.6388 12.1447 16.3133 12.7968 16.3133 13.4656V15.0511H18.6422L18.2705 17.4934H16.3123V23.3997C20.3275 22.7655 23.3998 19.269 23.3998 15.0511Z" />
  </svg>
</template>
