<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15.0006 12.3971C13.567 12.3971 12.3971 13.567 12.3971 15.0006C12.3971 16.4342 13.567 17.6041 15.0006 17.6041C16.4342 17.6041 17.6041 16.4342 17.6041 15.0006C17.6041 13.567 16.4342 12.3971 15.0006 12.3971ZM22.8092 15.0006C22.8092 13.9225 22.8189 12.8541 22.7584 11.7779C22.6978 10.5279 22.4127 9.41855 21.4986 8.50449C20.5826 7.58847 19.4752 7.30527 18.2252 7.24472C17.1471 7.18417 16.0787 7.19394 15.0025 7.19394C13.9244 7.19394 12.856 7.18417 11.7799 7.24472C10.5299 7.30527 9.4205 7.59042 8.50644 8.50449C7.59042 9.4205 7.30722 10.5279 7.24667 11.7779C7.18613 12.856 7.19589 13.9244 7.19589 15.0006C7.19589 16.0768 7.18613 17.1471 7.24667 18.2232C7.30722 19.4732 7.59238 20.5826 8.50644 21.4967C9.42246 22.4127 10.5299 22.6959 11.7799 22.7564C12.858 22.817 13.9264 22.8072 15.0025 22.8072C16.0807 22.8072 17.149 22.817 18.2252 22.7564C19.4752 22.6959 20.5846 22.4107 21.4986 21.4967C22.4146 20.5807 22.6978 19.4732 22.7584 18.2232C22.8209 17.1471 22.8092 16.0787 22.8092 15.0006V15.0006ZM15.0006 19.0064C12.7838 19.0064 10.9947 17.2174 10.9947 15.0006C10.9947 12.7838 12.7838 10.9947 15.0006 10.9947C17.2174 10.9947 19.0064 12.7838 19.0064 15.0006C19.0064 17.2174 17.2174 19.0064 15.0006 19.0064ZM19.1705 11.7662C18.6529 11.7662 18.235 11.3482 18.235 10.8307C18.235 10.3131 18.6529 9.89511 19.1705 9.89511C19.6881 9.89511 20.1061 10.3131 20.1061 10.8307C20.1062 10.9536 20.0821 11.0753 20.0351 11.1889C19.9882 11.3024 19.9193 11.4056 19.8324 11.4925C19.7455 11.5794 19.6423 11.6483 19.5287 11.6953C19.4151 11.7423 19.2934 11.7664 19.1705 11.7662V11.7662Z" />
  </svg>
</template>
