<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M18.8335 9.85C18.8335 9.85 19.2585 10.2667 18.8335 9.85C18.2638 9.19969 17.9499 8.36453 17.9501 7.5H15.3751V17.8333C15.3553 18.3925 15.1192 18.9222 14.7166 19.3108C14.314 19.6994 13.7763 19.9166 13.2168 19.9167C12.0335 19.9167 11.0501 18.95 11.0501 17.75C11.0501 16.3167 12.4335 15.2417 13.8585 15.6833V13.05C10.9835 12.6667 8.4668 14.9 8.4668 17.75C8.4668 20.525 10.7668 22.5 13.2085 22.5C15.8251 22.5 17.9501 20.375 17.9501 17.75V12.5083C18.9943 13.2582 20.2479 13.6605 21.5335 13.6583V11.0833C21.5335 11.0833 19.9668 11.1583 18.8335 9.85Z" />
  </svg>
</template>
