<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M24.1663 9.27927C23.4921 9.57995 22.7679 9.78311 22.0065 9.87493C22.7921 9.40181 23.3799 8.65718 23.6601 7.77997C22.922 8.22122 22.1142 8.53181 21.2717 8.69824C20.7052 8.08947 19.9549 7.68597 19.1372 7.55038C18.3195 7.41479 17.4802 7.5547 16.7496 7.94839C16.0189 8.34208 15.4379 8.96752 15.0967 9.72761C14.7555 10.4877 14.6731 11.3399 14.8624 12.1519C13.3668 12.0764 11.9037 11.6851 10.5681 11.0036C9.23243 10.3221 8.0541 9.36554 7.10954 8.19603C6.78657 8.75675 6.60087 9.40686 6.60087 10.0992C6.60051 10.7225 6.75301 11.3362 7.04485 11.886C7.33669 12.4357 7.75884 12.9045 8.27385 13.2506C7.67658 13.2315 7.09248 13.0691 6.57018 12.7768V12.8256C6.57012 13.6998 6.87057 14.5471 7.42055 15.2237C7.97052 15.9003 8.73615 16.3646 9.58752 16.5377C9.03346 16.6886 8.45256 16.7109 7.88871 16.6027C8.12891 17.3549 8.59681 18.0127 9.2269 18.4839C9.85699 18.9551 10.6177 19.2163 11.4026 19.2308C10.0702 20.2835 8.42474 20.8545 6.73086 20.852C6.43081 20.8521 6.13101 20.8344 5.83301 20.7992C7.55239 21.9118 9.55389 22.5023 11.598 22.5C18.5176 22.5 22.3004 16.7319 22.3004 11.7294C22.3004 11.5668 22.2964 11.4027 22.2891 11.2402C23.0249 10.7046 23.66 10.0414 24.1647 9.28171L24.1663 9.27927V9.27927Z" />
  </svg>
</template>
