<template>
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M24.5826 10.4158C24.4687 10.0125 24.2455 9.64469 23.9353 9.34922C23.625 9.05374 23.2386 8.84096 22.8147 8.73216C21.2545 8.33301 15 8.33301 15 8.33301C15 8.33301 8.74554 8.33301 7.18527 8.73004C6.76121 8.83848 6.37461 9.05115 6.0643 9.34668C5.75399 9.64221 5.53089 10.0102 5.41741 10.4137C5 11.8999 5 14.9997 5 14.9997C5 14.9997 5 18.0995 5.41741 19.5835C5.64732 20.4031 6.32589 21.0485 7.18527 21.2672C8.74554 21.6663 15 21.6663 15 21.6663C15 21.6663 21.2545 21.6663 22.8147 21.2672C23.6763 21.0485 24.3527 20.4031 24.5826 19.5835C25 18.0995 25 14.9997 25 14.9997C25 14.9997 25 11.8999 24.5826 10.4158ZM13.0134 17.8447V12.1547L18.192 14.9784L13.0134 17.8447Z" />
  </svg>
</template>
