<script setup>
const breakpoints = {
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
};
const { locale } = useI18n();

const query = gql`
  query featuredPostEducation {
    posts(
      where: { wpmlLanguage: "en", featured: "1", categoryId: 21 }
      last: 5
    ) {
      edges {
        node {
          databaseId
          title
          featuredImage {
            node {
              sourceUrl
            }
          }
          postDetails {
            featured
          }
        }
      }
    }
  }
`;

const { data } = await useAsyncQuery(query, { locale: locale.value });
const content = data.value?.posts?.edges || [];
</script>

<template>
  <div id="education-featured" class="text-white">
    <ul>
      <li v-for="(article, index) in content">
        <div
          class="aspect-video bg-cover bg-center relative"
          :style="{
            backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 28%),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 46.98%),url(${article.node.featuredImage.node.sourceUrl})`,
          }"
        >
          <div class="absolute flex items-end inset-0 p-4">
            <h3 class="two-line-text">
              {{ article.node.title }}
            </h3>
          </div>
        </div>
      </li>
    </ul>

    <Swiper
      id="education-featured-carousel"
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.education-featured-next',
        prevEl: '.education-featured-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide v-for="article in content">
        <div class="education-featured-card">
          <div
            class="aspect-video bg-cover bg-center relative"
            :style="{
              backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 28%),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 46.98%),url(${article.node.featuredImage.node.sourceUrl})`,
            }"
          >
            <div class="absolute flex items-end inset-0 p-4">
              <h3 class="two-line-text">
                {{ article.node.title }}
              </h3>
            </div>
          </div>
        </div>
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<style scoped>
ul {
  @apply alley hidden lg:flex overflow-x-scroll no-scrollbar;
  @apply lg:grid lg:grid-cols-12 lg:grid-rows-2 lg:gap-x-6 lg:gap-y-4;
}

li,
.education-featured-card {
  @apply lg:col-span-3 lg:row-span-1 rounded-lg overflow-hidden;
}

li:nth-child(1) {
  @apply lg:col-span-6 lg:row-span-2;
}

li h3,
.education-featured-card {
  @apply text-xl font-semibold;
  @apply lg:text-base;
}

li:nth-child(1) h3 {
  @apply lg:text-2xl;
}

#education-featured-carousel {
  @apply lg:hidden;
}
</style>
