<script setup>
const props = defineProps(["data"]);
const localePath = useLocalePath();
</script>

<template>
  <NuxtLink :to="localePath(data.slug)">
    <EducationCarouselImage :url="data.image" />

    <div class="education-carousel-data">
      <EducationCarouselType>
        {{ data.details.type }}
      </EducationCarouselType>

      <EducationCarouselTitle>
        {{ data.title }}
      </EducationCarouselTitle>

      <EducationCarouselRange
        :pricing="{ costs: data.details.costs, costsTo: data.details.costsTo }"
      />

      <EducationCarouselSystem>
        {{ data.details.system }}
      </EducationCarouselSystem>

      <EducationCarouselRating>
        {{ data.rating }}
      </EducationCarouselRating>
    </div>
  </NuxtLink>
</template>

<style>
.education-carousel-card {
  @apply rounded-lg overflow-hidden shadow;
}

.education-carousel-data {
  @apply p-4 py-6 flex flex-col gap-2;
}

.education-carousel-data:last-child {
  @apply justify-end;
}
</style>
