<script setup>
const breakpoints = {
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
  1024: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 24,
  },
};
const { locale } = useI18n();

const query = gql`
  query EducationSchools {
    posts(where: { wpmlLanguage: "en", categoryId: 3 }) {
      edges {
        node {
          databaseId
          title
          content
          slug
          featuredImage {
            node {
              sourceUrl
            }
          }
          educationDetails {
            costs
            costsTo
            type
            system
          }
          rating
        }
      }
    }
  }
`;

const { data } = await useAsyncQuery(query, { locale: locale.value });
const content = data.value?.posts?.edges || [];
</script>

<template>
  <div class="carousel-wrapper">
    <Swiper
      id="school-carousel"
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.nurseries-carousel-next',
        prevEl: '.nurseries-carousel-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide
        v-for="post in content"
        class="education-carousel-card group"
      >
        <EducationCarouselCard
          :data="{
            image: post.node.featuredImage?.node?.sourceUrl || '',
            title: post.node.title,
            slug: post.node.slug,
            rating: post.node.rating,
            details: post.node.educationDetails,
          }"
        />
      </SwiperSlide>
    </Swiper>
    <EducationNurseriesControls />
  </div>
</template>

<style>
.carousel-wrapper {
  @apply alley-width alley-margin lg:px-10 xl:px-11 relative;
}

.carousel-body {
  @apply py-1 px-6;
  @apply md:px-8 lg:px-1 lg:-mx-1;
}
</style>
