<script setup>
const props = defineProps(["pricing"]);

const price = () => {
  if (props.pricing.costs === null) {
    return 0;
  }

  if (props.pricing.costs > props.pricing.costsTo) {
    return props.pricing.costs;
  } else {
    return `${props.pricing.costs} - ${props.pricing.costsTo}`;
  }
};
</script>

<template>
  <div class="education-carousel-pricing">
    <span>AED</span>
    <span class="mx-1">{{ price() }}</span>
    <span>/{{ $t("education.year") }}</span>
  </div>
</template>
