<template>
  <div class="flex">
    <span>
      <slot />
    </span>
  </div>
</template>

<style scoped>
span {
  @apply font-medium text-sm text-[#7D161F] bg-[#A70F05] bg-opacity-5 py-1 px-2 rounded;
}
</style>
