@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-theme-base text-theme-text;
  }

  main {
    @apply flex-1 pt-12 flex flex-col gap-12;
  }

  section {
    @apply flex flex-col gap-4;
    @apply gap-5;
  }
}

@layer utilities {
  .reverted {
    @apply bg-theme-text text-theme-base;
  }

  .alley-width {
    @apply max-w-7xl w-full;
  }

  .alley-padding {
    @apply px-6;
    @apply md:px-8;
    @apply lg:px-10;
  }

  .alley-margin {
    @apply mx-auto;
  }

  .alley {
    @apply alley-width alley-padding alley-margin;
  }

  .layout {
    @apply flex flex-col min-h-screen;
    overscroll-behavior: none;
  }

  .two-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Debuging */
  .debug > * {
    outline: 1px solid crimson;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .swiper-button-custom {
    @apply absolute hidden lg:flex top-1/2 -translate-y-1/2 z-30 cursor-pointer;
  }

  .swiper-button-custom-next {
    @apply right-5;
  }

  .swiper-button-custom-prev {
    @apply left-5;
  }

  .swiper-button-custom-next svg {
    /* @apply ltr:right-5; */
  }

  .swiper-button-custom-prev svg {
    @apply ltr:rotate-180;
  }
}
