<script setup>
const props = defineProps(["data"]);
const localePath = useLocalePath();
</script>

<template>
  <NuxtLink :to="localePath(data.slug)" class="guide-carousel-card group">
    <div
      class="guide-carousel-image"
      :style="{
        backgroundImage: `url(${data.image})`,
      }"
    />
    <span class="guide-carousel-overlay">
      {{ data.title }}
    </span>
  </NuxtLink>
</template>

<style>
.guide-carousel-card {
  @apply flex flex-col relative  overflow-hidden rounded-lg;
}

.guide-carousel-image {
  @apply aspect-[3/2] bg-cover bg-center brightness-50 lg:group-hover:brightness-100 lg:group-hover:scale-125 transition-all ease-in-out duration-700;
}

.guide-carousel-overlay {
  @apply absolute text-white font-bold text-2xl top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center lg:group-hover:opacity-0 transition-all ease-in-out duration-100 leading-relaxed;

  @apply lg:text-[32px];
}
</style>
