<script setup>
const breakpoints = {
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
  1024: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 24,
  },
};
const { locale } = useI18n();

const query = gql`
  query YourGuide($locale: String! = "en", $term: [ID]! = "66") {
    categories(where: { wpmlLanguage: $locale, termTaxonomId: $term }) {
      nodes {
        databaseId
        name
        children {
          edges {
            node {
              name
              slug
              description
              Media {
                image {
                  sourceUrl
                }
              }
            }
          }
        }
      }
    }
  }
`;

const term = locale.value === "en" ? "66" : "74";

const { data } = await useAsyncQuery(query, {
  locale: locale.value,
  term,
});
console.log(data);
const content = data.value?.categories?.nodes[0]?.children.edges || [];
</script>

<template>
  <div class="carousel-wrapper">
    <Swiper
      id="guide-carousel"
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.guide-carousel-next',
        prevEl: '.guide-carousel-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide v-for="guide in content">
        <HomeGuideCarouselCard
          :data="{
            image: guide.node.Media?.image?.sourceUrl || null,
            title: guide.node.name,
            slug: guide.node.slug,
          }"
        />
      </SwiperSlide>
    </Swiper>
    <HomeGuideCarouselControls />
  </div>
</template>

<style>
.carousel-wrapper {
  @apply alley-width alley-margin lg:px-10 xl:px-11 relative;
}

.carousel-body {
  @apply py-1 px-6;
  @apply md:px-8 lg:px-1 lg:-mx-1;
}
</style>
