<template>
  <div class="swiper-button-custom swiper-button-custom-next guide-carousel-next">
    <ShareAtomIconSwiper />
  </div>
  <div class="swiper-button-custom swiper-button-custom-prev guide-carousel-prev">
    <ShareAtomIconSwiper />
  </div>
</template>
