<script setup>
const props = defineProps(["data"]);
console.log(props.data);
</script>

<template>
  <div
    class="home-place-content"
    :style="{
      backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(${data.image})`,
    }"
  >
    <HomePlaceAtomTag>
      {{ data.tag }}
    </HomePlaceAtomTag>

    <HomePlaceAtomHeading>
      {{ data.heading }}
    </HomePlaceAtomHeading>

    <HomePlaceAtomDescription>
      {{ data.description }}
    </HomePlaceAtomDescription>

    <HomePlaceAtomCrosslink :slug="data.slug" />
  </div>
</template>

<style>
.home-place-content {
  @apply flex flex-col justify-center gap-4 bg-cover bg-center w-full h-full text-white alley-padding;
}
</style>
