<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="fill-current rtl:rotate-180"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_3011_5454)">
      <path
        d="M11.9999 5.3335L10.8249 6.5085L15.4749 11.1668H5.33325V12.8335H15.4749L10.8249 17.4918L11.9999 18.6668L18.6666 12.0002L11.9999 5.3335Z" />
    </g>
    <defs>
      <clipPath id="clip0_3011_5454">
        <rect
          width="20"
          height="20"
          fill="white"
          transform="translate(2 2)" />
      </clipPath>
    </defs>
  </svg>
</template>
