<script setup lang="ts"></script>

<template>
  <header>
    <HomeHeroSlider />
    <HeaderGeneric id="hero-header" />
  </header>
</template>

<style scoped>
header {
  @apply relative reverted bg-black h-[530px];

  @apply lg:h-auto lg:aspect-[1366/530];
}

#hero-header {
  @apply absolute z-50 inset-x-0;
}
</style>
