<template>
  <div class="flex">
    <NuxtLink class="home-place-content-crosslink">
      <span>
        {{ $t("home.place.learn") }}
      </span>

      <HomeLinkageAtomIconArrow />
    </NuxtLink>
  </div>
</template>

<style>
.home-place-content-crosslink {
  @apply text-[#D53B10] font-semibold flex items-center gap-1 py-2.5 px-4 bg-white rounded-[43px];
}
</style>
