<template>
  <section>
    <!-- TODO: needs a slug & copy -->
    <ShareMoleSectionHeading
      :data="{
        slug: '/',
        color: 'text-[#7D161F]',
      }">
      {{ $t("home.activities") }}
    </ShareMoleSectionHeading>
    <!-- swiper -->
    <HomeActivitiesCarousel />
  </section>
</template>
