<script setup>
const props = defineProps(["entity"]);
const localePath = useLocalePath();

console.log(props.entity);
</script>

<template>
  <NuxtLink class="flex flex-col relative group overflow-hidden rounded-lg">
    <div
      class="aspect-[3/2] bg-cover bg-center brightness-50 lg:group-hover:brightness-100 lg:group-hover:scale-125 transition-all ease-in-out duration-700"
      :style="{
        backgroundImage: `url(${entity.node.Media?.image?.sourceUrl || ''})`,
      }"
    />
    <span
      class="absolute text-white font-bold text-4xl top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center lg:group-hover:opacity-0 transition-all ease-in-out duration-100 leading-relaxed"
    >
      {{ entity.node.name }}
    </span>
  </NuxtLink>
</template>
