<script setup>
const breakpoints = {
  // if width is >= 640px
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
  1024: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 24,
  },
};

const { locale } = useI18n();

const query = gql`
  query PlacesToVisit($locale: String! = "en") {
    categories(where: { wpmlLanguage: $locale, termTaxonomId: "16" }) {
      nodes {
        databaseId
        name
        children {
          edges {
            node {
              name
              slug
              description
              Media {
                image {
                  sourceUrl
                }
              }
            }
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };
const { data } = await useAsyncQuery(query, variables);
const content = data.value?.categories?.nodes[0]?.children.edges || [];
</script>

<template>
  <!-- remove v-if -->
  <div class="carousel-wrapper">
    <Swiper
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.activities-carousel-next',
        prevEl: '.activities-carousel-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide v-for="entity in content">
        <HomeActivitiesCard :entity="entity" />
      </SwiperSlide>
    </Swiper>
    <HomeActivitiesCarouselControls />
  </div>
</template>

<style scoped>
.carousel-wrapper {
  @apply alley-width alley-margin lg:px-10 xl:px-11 relative;
}

.carousel-body {
  @apply py-1 px-6;
  @apply md:px-8 lg:px-1 lg:-mx-1;
}
</style>
