<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div id="home-linkage-content">
    <ShareLinkageAtomHeading>
      {{ data.heading }}
    </ShareLinkageAtomHeading>

    <div id="home-linkage-content-links">
      <ShareLinkageAtomCrosslink v-for="slug in data.slugs">
        {{ slug.name }}
      </ShareLinkageAtomCrosslink>
    </div>
  </div>
</template>

<style>
#home-linkage-content {
  @apply flex flex-col gap-6 alley;
}

#home-linkage-content-links {
  @apply flex flex-col gap-4;
  @apply lg:grid lg:grid-cols-3 lg:max-w-4xl;
}
</style>
