<template>
  <div
    class="swiper-button-custom swiper-button-custom-next activities-carousel-next"
  >
    <ShareAtomIconSwiper />
  </div>
  <div
    class="swiper-button-custom swiper-button-custom-prev activities-carousel-prev"
  >
    <ShareAtomIconSwiper />
  </div>
</template>
