<template>
  <div id="follow">
    <div class="flex flex-col">
      <FooterAtomHeading>Follow Us</FooterAtomHeading>
      <MediaMoleWrapper class="self-center lg:self-start -mx-1 hush" />
    </div>
  </div>
</template>

<style >
#follow {
  @apply lg:col-span-3  order-2;
}

h3 {
  @apply hidden lg:flex;
}

.hush > li > a > svg {
  @apply w-11 h-11;
}
</style>
