<template>
  <FooterPattern />
  <footer>
    <div id="nav-wrapper">
      <FooterNavigation />
      <FooterDisclaimer />
    </div>
    <FooterBlobs />
  </footer>
</template>

<style scoped>
footer {
  @apply bg-theme-dark-red relative;
}

#nav-wrapper {
  @apply bg-theme-dark-red pt-6 pb-32 text-theme-base;
  @apply lg:pt-12 lg:pb-16;
}
</style>
