<script setup lang="ts">
const quickLinks = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "News",
    url: "/News",
  },
  {
    title: "Events Calendar",
    url: "/events",
  },
  {
    title: "Your Guide",
    url: "/guide",
  },
  {
    title: "Contact us",
    url: "/contact",
  },
  {
    title: "Sitemap",
    url: "/sitemap",
  },
  {
    title: "Terms & Conditions",
    url: "/t&c",
  },
  {
    title: "Privacy Policy",
    url: "/p&p",
  },
];
</script>

<template>
  <div id="links">
    <div class="flex flex-col gap-4">
      <FooterAtomHeading> Quick Links </FooterAtomHeading>

      <ul>
        <li v-for="link in quickLinks">
          <a
            href=""
            class="whitespace-nowrap">
            {{ link.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
#links {
  @apply lg:col-span-6 order-3 lg:order-2;
}

ul {
  @apply grid grid-cols-2 justify-center gap-x-16 gap-y-4 max-w-md mx-auto;
  @apply lg:max-w-none lg:mx-0 lg:gap-6 lg:grid-cols-3;
}

/* h3 {
  @apply text-2xl font-bold;
} */
</style>
