<template>
  <section>
    <ShareMoleSectionHeading
      :data="{
        slug: '/',
        color: 'text-[#D53B10]',
      }"
    >
      {{ $t("home.events") }}
    </ShareMoleSectionHeading>

    <HomeEventsCarousel />
  </section>
</template>
