<script setup>
const { locale } = useI18n();

const query = gql`
  query HEADER_MENU($locale: String! = "en") {
    menuItems(where: { language: $locale, location: HEADER_MENU }) {
      nodes {
        label
        uri
        connectedNode {
          node {
            databaseId
            isTermNode
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };

const data = await useAsyncQuery(query, variables);
const dry = data.data.value.menuItems.nodes.slice(0, 2);
</script>

<template>
  <ul id="generic-header-main-desktop">
    <HeaderAtomLink v-for="link in dry || []" :uri="link.uri">
      {{ link.label }}
    </HeaderAtomLink>

    <HeaderMoleGuide />
  </ul>
</template>

<style scoped>
#generic-header-main-desktop {
  @apply hidden lg:flex items-center gap-8 text-lg;
}
</style>
