<script setup lang="ts">
const localePath = useLocalePath();
const props = defineProps(["navigationLinks"]);
</script>

<template>
  <div
    class="peer hidden group-hover:block absolute -left-8 top-[80%] z-10 mt-3 w-screen max-w-xl overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-gray-900/5"
  >
    <div class="px-2 py-2 grid grid-cols-2">
      <div
        v-for="item in navigationLinks"
        :key="item.name"
        class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-200"
      >
        <div class="flex-auto">
          <NuxtLink
            :to="localePath('/your-guide/' + item.node.slug)"
            class="block font-semibold text-gray-900"
          >
            {{ item.node.name }}
            <span class="absolute inset-0" />
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
