<script setup>
const { locale } = useI18n();
const localePath = useLocalePath();

const query = gql`
  query YourGuide {
    categories(where: { wpmlLanguage: "en", termTaxonomId: "66" }) {
      nodes {
        databaseId
        name
        slug
        children {
          edges {
            node {
              name
              slug
              description
              databaseId
              Media {
                image {
                  sourceUrl
                }
              }
            }
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };

const { data } = await useAsyncQuery(query, variables);
const content = data.value.categories.nodes[0];
</script>

<template>
  <NuxtLink
    :to="localePath(content.slug)"
    class="flex items-center gap-x-3 p-4 -m-4 focus:outline-none group relative"
  >
    <HeaderMoleGuideHover :navigationLinks="content.children.edges" />
    {{ content.name }}
    <svg
      class="fill-current translate-all duration-700 w-2 rotate-90 group-hover:-rotate-90"
      viewBox="0 0 13 21"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.490234 18.6296L2.26023 20.3996L12.1602 10.4996L2.26023 0.599609L0.490234 2.36961L8.62023 10.4996L0.490234 18.6296V18.6296Z"
      />
    </svg>
  </NuxtLink>
</template>
