<template>
  <div id="generic-header-main">
    <HeaderAtomLogo />
    <HeaderMoleDesktop />
  </div>
</template>

<style>
#generic-header-main {
  @apply flex items-center order-2 gap-10;
  @apply lg:order-1;
}

#generic-header-main svg {
  @apply -mx-1 h-10;
}
</style>
