<script></script>

<template>
  <div id="generic-header-mobile-menu">
    <button type="button" class="">
      <HeaderAtomIconMenu />
    </button>
  </div>
</template>

<style>
#generic-header-mobile-menu {
  @apply flex lg:hidden order-3;
}

#generic-header-mobile-menu button {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 focus:ring-0;
}
</style>
