<template>
  <div id="generic-header-operations">
    <HeaderAtomSearch />

    <HeaderAtomSwitcher />
  </div>
</template>

<style>
#generic-header-operations {
  @apply flex order-1 gap-8;
  @apply lg:order-2;
}
</style>
