<script setup>
const data = {
  image:
    "https://images.unsplash.com/uploads/1412026095116d2b0c90e/3bf33993?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80",
  heading: "Explore RAK",
  slugs: [
    {
      name: "Communities",
      slug: "/slug",
    },
    {
      name: "Things To Do",
      slug: "/slug",
    },
    {
      name: "Sports Clubs",
      slug: "/slug",
    },
    {
      name: "Extra curriculars",
      slug: "/slug",
    },
  ],
};
</script>

<template>
  <section
    :style="{
      backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(${data.image})`,
    }"
  >
    <ShareLinkageMoleContent :data="data" />
  </section>
</template>

<style scoped>
section {
  @apply min-h-[430px] w-full flex items-center text-white bg-cover bg-center;
  @apply lg:h-auto lg:aspect-[3/1];
}
</style>
