<script setup lang="ts">
const i18nHead = useLocaleHead({
  addDirAttribute: true,
  addSeoAttributes: true,
});

const { t } = useI18n({
  useScope: "global",
});

useHead({
  htmlAttrs: {
    lang: i18nHead.value.htmlAttrs!.lang,
    dir: i18nHead.value.htmlAttrs!.dir,
  },
  link: [...(i18nHead.value.link || [])],
  meta: [...(i18nHead.value.meta || [])],
  title: t("metadata_default.page_title"),
});
</script>

<template>
  <div class="layout">
    <!-- <MediaVarGeneric /> -->
    <slot />
    <!-- <FooterGlobal /> -->
  </div>
</template>
