<template>
  <svg
    width="368"
    height="73"
    viewBox="0 0 368 73"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M359.918 151.927C378.2 270.205 256.015 352.04 144.187 394.682C19.4629 442.242 -138.393 479.691 -217.318 372.038C-294.015 267.422 -211.335 126.245 -120.528 33.6107C-65.4003 -22.6264 15.4609 37.7379 91.9269 56.5688C193.713 81.6351 343.906 48.3303 359.918 151.927Z"
      fill="#EF6141" />
  </svg>
</template>
