<template>
  <svg
    width="408"
    height="105"
    viewBox="0 0 408 105"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.05232 141.927C-16.2292 260.205 105.955 342.04 217.783 384.682C342.508 432.242 500.364 469.691 579.288 362.038C655.986 257.422 573.305 116.245 482.499 23.6107C427.371 -32.6264 346.51 27.7379 270.044 46.5688C168.258 71.6351 18.0648 38.3303 2.05232 141.927Z"
      fill="#EF6141" />
  </svg>
</template>
