<template>
  <svg
    viewBox="0 0 2903 723"
    class="fill-current -mx-2">
    <g>
      <path
        fill="#FF4713"
        d="M352.3,277c15.7-16.2,31.8-31.9,47.7-47.9c30-30,60-60,90-90c24.3-24.3,53.5-36.8,87.8-36.1
		c29.9,0.6,56.4,11.1,78,31.9c26.2,25.3,52.1,50.9,77.3,77.3c44.5,46.6,43.7,118.6-1.7,164.2C661.3,447,591,517.3,520.4,587.4
		c-47.3,47-120.6,47-168-0.1C280,515.3,207.8,443,135.9,370.6c-46.2-46.4-46.5-118.6-1.1-165.8c21.1-21.9,42.7-43.4,64.6-64.6
		c47.7-46,119.6-45.6,167,0.7c11,10.7,21.8,21.6,32.8,32.6c-17,16.9-33.3,33.1-50.2,49.9c-1.6-1.4-3.5-3-5.3-4.8
		c-9.2-9.1-18.2-18.4-27.5-27.4c-19.8-19.1-48-19.2-67.7,0.2c-20.5,20.1-40.9,40.5-61.1,61c-20.6,21-20.5,48.9,0.2,69.8
		c41.8,41.9,83.8,83.7,125.6,125.5c29,29,57.9,58.1,86.8,87c22.2,22.2,50.3,22.3,72.4,0.2c68.1-67.9,136.1-135.8,204.1-203.7
		c24.5-24.5,24.5-51.1,0.2-75.5c-21.8-21.9-43.8-43.7-65.7-65.5c-22-21.9-49.8-22-71.9,0c-45,44.8-90,89.7-134.9,134.6L352.3,277z" />
    </g>
    <g>
      <path
        class="st3"
        d="M939.1,563.8c-14.8,0-27.5-2.3-37.8-6.9s-18.3-11.3-23.8-20.1c-5.5-8.8-8.3-19.3-8.3-31.6
		c0-12.9,3-23.8,9.1-32.7c6.1-8.9,14.4-15.6,24.9-20.2c10.5-4.6,22.5-6.9,35.9-6.9h6.7v-11.7h35.9v101.5h29.9c0.8,0,1.2,0.3,1.2,1
		v26.6c0,0.8-0.4,1.2-1.2,1.2L939.1,563.8L939.1,563.8z M946.1,535.1v-61h-6.2c-10.9,0-19.2,2.7-25.1,8c-5.9,5.4-8.9,13.1-8.9,23.3
		c0,9.4,2.9,16.7,8.6,21.9s14,7.8,24.9,7.8H946.1z M923.8,418.5c-5,0-8.9-1.6-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6
		c0-5.4,1.4-9.7,4.3-12.7s6.8-4.5,11.7-4.5c5,0,8.8,1.5,11.6,4.5s4.2,7.3,4.2,12.7c0,5.4-1.4,9.7-4.3,12.7
		C932.4,417,928.6,418.5,923.8,418.5z M964.5,418.5c-5,0-8.9-1.6-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6c0-5.4,1.4-9.7,4.3-12.7
		s6.8-4.5,11.7-4.5c5,0,8.8,1.5,11.6,4.5s4.2,7.3,4.2,12.7c0,5.3-1.4,9.5-4.3,12.6S969.3,418.5,964.5,418.5z" />
      <path
        class="st3"
        d="M1036.3,535.1c-2.1-5-3.7-10.2-4.8-15.7c-1.1-5.5-1.7-11.3-1.7-17.4c0-6.9,1.2-14.3,3.5-22.4
		c2.3-8.1,5.2-15,8.7-20.7c7.7-4.5,15.8-7.9,24.5-10.2c8.7-2.3,16.3-3.5,22.9-3.5c5.4,0,10.6,0.6,15.6,1.8c4.9,1.2,9.7,2.9,14.1,5.1
		c8.9,4.6,15.9,11.2,20.8,19.8c4.9,8.5,7.4,18.5,7.4,29.8c0,4.5-0.4,8.7-1.1,12.8c-0.7,4.1-1.9,8-3.5,11.8c2.9,3.2,6.2,5.4,9.9,6.7
		c3.8,1.3,8.4,1.9,14,1.9h1.2c0.8,0,1.2,0.3,1.2,1v26.6c0,0.8-0.4,1.2-1.2,1.2h-1.2c-8.5,0-15.8-1.2-22-3.6s-12.1-6.5-17.5-12.5
		c-6.1,5.3-13.1,9.3-20.9,12c-7.9,2.7-16,4.1-24.3,4.1h-72.8c-0.8,0-1.2-0.4-1.2-1.2v-26.6c0-0.6,0.4-1,1.2-1L1036.3,535.1
		L1036.3,535.1z M1062.9,507.1c0,4,0.5,8.3,1.4,13.1s2.3,9.7,4.1,15h9.1c6.4,0,12.1-1.5,17.2-4.4c5.1-3,9.2-6.9,12.2-12
		c3-5,4.6-10.6,4.6-16.9c0-8.5-2.1-15.2-6.2-20.2c-4.2-5-9.7-7.5-16.5-7.5c-3.5,0-7.1,0.6-10.9,1.7s-7.5,2.8-11.4,5
		c-1.1,4.1-2,8.4-2.6,12.8C1063.2,497.9,1062.9,502.5,1062.9,507.1z" />
      <path
        class="st3"
        d="M1165.6,563.8c-0.8,0-1.2-0.4-1.2-1.2V536c0-0.6,0.4-1,1.2-1h37.1v-89.8h35.7v89.8h35.9c0.8,0,1.2,0.3,1.2,1
		v26.6c0,0.8-0.4,1.2-1.2,1.2H1165.6z M1197.7,623.7c-4.9,0-8.9-1.5-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6s1.4-9.5,4.3-12.6
		c2.9-3.1,6.8-4.7,11.7-4.7s8.8,1.5,11.6,4.5c2.8,3,4.2,7.3,4.2,12.7c0,5.4-1.4,9.7-4.3,12.7
		C1206.3,622.2,1202.5,623.7,1197.7,623.7z M1238.4,623.7c-4.9,0-8.9-1.5-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6s1.4-9.5,4.3-12.6
		c2.9-3.1,6.8-4.7,11.7-4.7s8.8,1.6,11.6,4.7s4.2,7.3,4.2,12.6s-1.4,9.5-4.3,12.6C1247,622.1,1243.2,623.7,1238.4,623.7z" />
      <path
        class="st3"
        d="M1271.9,563.8c-0.8,0-1.2-0.4-1.2-1.2V536c0-0.6,0.4-1,1.2-1h96.7c-2.1-1.9-4-4.5-5.9-7.7s-3.5-7-4.9-11.5
		c-1.4-4.5-2.7-9.5-3.8-15.1c-1.1-5.4-2.5-10-4.1-13.8c-1.6-3.8-3.5-6.7-5.6-9c-2.2-2.2-4.8-3.9-7.9-4.9s-6.8-1.6-11.1-1.6
		c-5.6,0-10.9,0.7-15.8,2.1c-4.9,1.4-10.3,3.8-16,6.9l-10.8-26.3c7-3.8,14.7-6.7,23-8.6c8.3-1.9,16.8-2.9,25.6-2.9
		c5.1,0,9.7,0.2,13.8,0.7c4.1,0.5,7.8,1.4,11.1,2.6c5.8,1.9,10.7,4.7,14.8,8.4c4.2,3.7,7.6,8.3,10.4,14s4.8,12.5,6.1,20.5
		c1.4,8,3,15,4.7,21c1.7,6,3.5,11.1,5.5,15.3c2,4.2,4.2,7.5,6.6,9.7h15.6c0.8,0,1.2,0.3,1.2,1v26.6c0,0.8-0.4,1.2-1.2,1.2
		L1271.9,563.8L1271.9,563.8z M1335.1,424.7c-4.9,0-8.9-1.6-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6c0-5.4,1.4-9.7,4.2-12.7
		c2.8-3,6.7-4.5,11.8-4.5c4.9,0,8.8,1.5,11.6,4.5s4.2,7.3,4.2,12.7c0,5.3-1.4,9.5-4.3,12.6C1343.7,423.2,1339.9,424.7,1335.1,424.7z
		" />
      <path
        class="st3"
        d="M1417.5,563.8c-0.8,0-1.2-0.4-1.2-1.2V536c0-0.6,0.4-1,1.2-1h29.9V381.9h35.7v182H1417.5z" />
      <path
        class="st3"
        d="M1536.9,381.9h35.7v182h-35.7V381.9z" />
      <path
        class="st3"
        d="M1955.1,563.8c-6.9,0-13.4-1.5-19.6-4.5c-6.2-3-12.2-7.5-18-13.4c-4.5,5.9-10,10.4-16.6,13.4
		c-6.6,3-14.4,4.5-23.3,4.5H1849c-1.4,19.2-8,33.5-19.8,43.1c-11.7,9.6-28.6,14.4-50.6,14.4h-10.5c-13.6,0-25.2-2.8-34.9-8.5
		c-9.7-5.7-17.2-13.5-22.4-23.6c-5.2-10-7.8-21.7-7.8-35c0-9.1,1.1-18.3,3.2-27.7c2.2-9.3,5.2-17.8,9-25.3h31.6
		c-2.6,8.5-4.6,17.4-6,26.8s-2.2,18.2-2.2,26.3c0,11.7,2.9,20.9,8.7,27.8c5.8,6.9,13.5,10.3,23.1,10.3h7.2c12.3,0,21.3-3.3,27.2-9.9
		c5.8-6.6,8.7-16,8.7-28.1V464h35.7v71.1h20.3c8,0,13.8-2.2,17.5-6.7c3.7-4.5,5.5-11.5,5.5-21.1V464h35.7v46.2c0,1.9,0,3.8-0.1,5.5
		s-0.3,3.5-0.6,5.3c4,5.3,7.9,8.9,11.8,11c3.9,2.1,8.9,3.1,15,3.1h14.8v-89.8h35.7v118.5L1955.1,563.8L1955.1,563.8z" />
      <path
        class="st3"
        d="M2045.6,368.7l13.7-2.1c-3.2-1.6-5.8-3.8-7.8-6.6c-2-2.8-3-6-3-9.7c0-6.9,2.4-12.2,7.2-16
		c4.8-3.8,11.2-5.8,19.2-5.8c7.8,0,14.4,1.4,19.6,4.3l-4.8,12.2c-2.1-1.1-4.2-1.9-6.4-2.4c-2.1-0.5-4.4-0.7-6.6-0.7
		c-3.5,0-6.3,1-8.4,3.1c-2.1,2.1-3.1,4.9-3.1,8.4c0,2.6,0.7,4.8,2,6.6c1.4,1.8,3.1,3.2,5.1,4.2l4.3-0.7c2.7-0.5,5.2-0.9,7.5-1.2
		s4.5-0.6,6.5-0.7s3.8-0.3,5.4-0.5v13.9c-2.9,0.2-6.9,0.5-12.1,1.1c-5.2,0.6-10.6,1.2-16.2,1.8c-5.6,0.6-10.5,1.2-14.6,1.8
		c-4.1,0.6-6.7,1-7.7,1.3L2045.6,368.7L2045.6,368.7z M2055.2,396.2h35.7v167.6h-35.7V396.2z" />
      <path
        class="st3"
        d="M2155.2,621.3c-8.1,0-15.6-1-22.5-2.9c-6.9-1.9-14-5.4-21.6-10.5l14.4-23.2c4.1,2.7,7.9,4.5,11.1,5.5
		c3.3,1,7.1,1.4,11.6,1.4c6.4,0,11.5-2.4,15.4-7.3s5.9-11,5.9-18.3V445.3h35.7v122.3c0,11-2.1,20.5-6.2,28.5
		c-4.1,8-10,14.2-17.5,18.5C2174.1,619.1,2165.3,621.3,2155.2,621.3z" />
      <path
        class="st3"
        d="M2379.7,563.8c-14.7,0-26.3-4.3-34.8-12.8s-12.8-20.3-12.8-35.3c0-4,0.3-8.2,1-12.7s1.6-8.8,2.8-12.9
		c1.2-4.1,2.5-7.8,3.9-11h31.6c-1.1,5.1-2,10.3-2.6,15.6c-0.6,5.3-1,10.5-1,15.8c0,7.3,2.1,13.3,6.2,17.8c4.1,4.5,9.6,6.8,16.3,6.8
		h77.8v-89.8h35.7v89.8h31.1c0.8,0,1.2,0.3,1.2,1v26.6c0,0.8-0.4,1.2-1.2,1.2L2379.7,563.8L2379.7,563.8z M2423,623.7
		c-4.9,0-8.9-1.5-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6s1.4-9.5,4.2-12.6s6.7-4.7,11.9-4.7c4.9,0,8.8,1.5,11.6,4.5
		c2.8,3,4.2,7.2,4.2,12.5c0,5.4-1.4,9.7-4.3,12.8C2431.6,622.1,2427.8,623.7,2423,623.7z" />
      <path
        class="st3"
        d="M2575.8,535.1c0.8,0,1.2,0.3,1.2,1v26.6c0,0.8-0.4,1.2-1.2,1.2h-43.3c-0.8,0-1.2-0.4-1.2-1.2v-26.6
		c0-0.6,0.4-1,1.2-1H2575.8z" />
      <path
        class="st3"
        d="M2575.8,535.1c0.8,0,1.2,0.3,1.2,1v26.6c0,0.8-0.4,1.2-1.2,1.2h-43.3c-0.8,0-1.2-0.4-1.2-1.2v-26.6
		c0-0.6,0.4-1,1.2-1H2575.8z" />
      <path
        class="st3"
        d="M2573.4,563.8c-0.8,0-1.2-0.4-1.2-1.2V536c0-0.6,0.4-1,1.2-1h29.9V381.9h35.7v153.2h31.1c0.8,0,1.2,0.3,1.2,1
		v26.6c0,0.8-0.4,1.2-1.2,1.2H2573.4z" />
      <path
        class="st3"
        d="M2667.7,563.8c-0.8,0-1.2-0.4-1.2-1.2V536c0-0.6,0.4-1,1.2-1h34.2c-2.6-3-4.7-6.2-6.4-9.6
		c-1.7-3.3-3-6.9-3.8-10.5c-0.9-3.7-1.3-7.5-1.3-11.5c0-12,2.8-22.3,8.3-31s13.5-15.4,23.9-20.1s23-7.1,37.7-7.1h42.6v118.5
		L2667.7,563.8L2667.7,563.8z M2737.1,424.7c-4.9,0-8.9-1.6-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6c0-5.4,1.4-9.7,4.3-12.7
		s6.8-4.5,11.7-4.5s8.8,1.5,11.6,4.5s4.2,7.3,4.2,12.7c0,5.4-1.4,9.7-4.3,12.7C2745.8,423.2,2741.9,424.7,2737.1,424.7z
		 M2760.6,535.1h6.7v-61h-6.2c-7.2,0-13.3,1.2-18.4,3.6c-5.1,2.4-9,5.9-11.6,10.5c-2.6,4.6-3.9,10.4-3.9,17.2c0,6.2,1.3,11.6,3.8,16
		s6.3,7.9,11.4,10.2C2747.3,533.9,2753.4,535.1,2760.6,535.1z M2777.9,424.7c-4.9,0-8.9-1.6-11.7-4.7c-2.9-3.1-4.3-7.3-4.3-12.6
		c0-5.4,1.4-9.7,4.3-12.7s6.8-4.5,11.7-4.5s8.8,1.5,11.6,4.5s4.2,7.3,4.2,12.7c0,5.3-1.4,9.5-4.3,12.6
		C2786.5,423.2,2782.6,424.7,2777.9,424.7z" />
    </g>
    <g>
      <path
        class="st3"
        d="M1027.4,132.2c12.8,14,19.1,33.2,19.1,57.6v107.6h-56.1v-100c0-12.3-3.2-21.9-9.6-28.7
		c-6.4-6.8-15-10.2-25.7-10.2c-10.8,0-19.4,3.4-25.7,10.2c-6.4,6.8-9.6,16.4-9.6,28.7v100h-56.4V53.2h56.4V138
		c5.7-8.1,13.5-14.6,23.4-19.5c9.9-4.8,21-7.3,33.3-7.3C997.7,111.2,1014.6,118.2,1027.4,132.2z" />
      <path
        class="st3"
        d="M1258.4,218.8h-127.7c0.9,11.4,4.6,20.2,11.1,26.2c6.5,6.1,14.5,9.1,23.9,9.1c14.1,0,23.9-5.9,29.4-17.8h60.1
		c-3.1,12.1-8.6,23-16.7,32.7s-18.1,17.3-30.2,22.8s-25.6,8.2-40.6,8.2c-18,0-34.1-3.9-48.2-11.5c-14.1-7.7-25.1-18.7-33-33
		c-7.9-14.3-11.9-31-11.9-50.2s3.9-35.9,11.7-50.2c7.8-14.3,18.8-25.3,32.8-33s30.2-11.6,48.5-11.6c17.8,0,33.7,3.7,47.5,11.2
		c13.9,7.5,24.7,18.1,32.5,32s11.7,30,11.7,48.5C1259.4,207.6,1259,213.1,1258.4,218.8z M1201.6,187.5c0-9.7-3.3-17.4-9.9-23.1
		s-14.8-8.6-24.8-8.6c-9.5,0-17.4,2.8-23.9,8.2c-6.5,5.5-10.5,13.3-12,23.4H1201.6z" />
      <path
        class="st3"
        d="M1288.6,155.1c7.2-14.3,16.9-25.3,29.2-33c12.3-7.7,26.1-11.6,41.2-11.6c13,0,24.4,2.6,34.2,7.9
		c9.8,5.3,17.3,12.2,22.6,20.8v-26.1h56.4v184.1h-56.4v-26.1c-5.5,8.6-13.2,15.5-22.9,20.8c-9.8,5.3-21.2,7.9-34.2,7.9
		c-15,0-28.6-3.9-40.9-11.7c-12.3-7.8-22.1-18.9-29.2-33.3c-7.2-14.4-10.7-31.1-10.7-50C1277.8,186,1281.4,169.4,1288.6,155.1z
		 M1404.1,172c-7.8-8.1-17.3-12.2-28.5-12.2s-20.7,4-28.5,12c-7.8,8-11.7,19.1-11.7,33.2s3.9,25.2,11.7,33.5
		c7.8,8.2,17.3,12.4,28.5,12.4s20.7-4.1,28.5-12.2s11.7-19.2,11.7-33.3C1415.8,191.2,1411.9,180.1,1404.1,172z" />
      <path
        class="st3"
        d="M1594.3,120c9.9-5.8,20.9-8.8,33-8.8V171h-15.5c-14.1,0-24.6,3-31.7,9.1s-10.6,16.7-10.6,31.8v85.5h-56.4
		V113.2h56.4v30.7C1576.2,133.8,1584.4,125.8,1594.3,120z" />
      <path
        class="st3"
        d="M1757,249.5v47.8h-28.7c-20.5,0-36.4-5-47.8-15c-11.4-10-17.2-26.3-17.2-49v-73.3h-22.4v-46.9h22.4V68.3h56.4
		v44.9h37v46.9h-37V234c0,5.5,1.3,9.5,4,11.9s7,3.6,13.2,3.6L1757,249.5L1757,249.5z" />
      <path
        class="st3"
        d="M1893.4,288.5c-14.4-7.7-25.7-18.7-34-33c-8.2-14.3-12.4-31-12.4-50.2c0-18.9,4.2-35.6,12.5-50
		c8.4-14.4,19.8-25.5,34.3-33.2c14.5-7.7,30.8-11.6,48.8-11.6c18,0,34.3,3.8,48.8,11.6s26,18.8,34.3,33.2s12.5,31.1,12.5,50
		s-4.2,35.6-12.7,50c-8.5,14.4-20,25.5-34.7,33.2s-31,11.5-49,11.5C1924.1,300,1907.8,296.1,1893.4,288.5z M1969.7,239.3
		c7.6-7.9,11.4-19.2,11.4-34s-3.7-26.1-11.1-34c-7.4-7.9-16.4-11.9-27.2-11.9c-11,0-20.1,3.9-27.4,11.7
		c-7.3,7.8-10.9,19.2-10.9,34.2c0,14.7,3.6,26.1,10.7,34c7.2,7.9,16.1,11.9,26.9,11.9C1952.9,251.2,1962.1,247.2,1969.7,239.3z" />
      <path
        class="st3"
        d="M2160.9,160.1h-30.4v137.3h-56.4V160.1h-20.5v-46.9h20.5v-5.3c0-22.7,6.5-39.9,19.5-51.7
		c13-11.8,32-17.7,57.1-17.7c4.2,0,7.3,0.1,9.2,0.3v47.8c-10.8-0.7-18.4,0.9-22.8,4.6c-4.4,3.7-6.6,10.4-6.6,20.1v1.7h30.4V160.1z" />
      <path
        class="st3"
        d="M2338.4,120c9.9-5.8,20.9-8.8,33-8.8V171h-15.5c-14.1,0-24.6,3-31.7,9.1s-10.6,16.7-10.6,31.8v85.5h-56.4
		V113.2h56.4v30.7C2320.3,133.8,2328.5,125.8,2338.4,120z" />
      <path
        class="st3"
        d="M2398,155.1c7.1-14.3,16.9-25.3,29.2-33c12.3-7.7,26.1-11.6,41.2-11.6c13,0,24.4,2.6,34.2,7.9
		c9.8,5.3,17.3,12.2,22.6,20.8v-26.1h56.4v184.1h-56.4v-26.1c-5.5,8.6-13.1,15.5-22.9,20.8c-9.8,5.3-21.2,7.9-34.2,7.9
		c-15,0-28.6-3.9-40.9-11.7c-12.3-7.8-22.1-18.9-29.2-33.3c-7.1-14.4-10.7-31.1-10.7-50C2387.3,186,2390.9,169.4,2398,155.1z
		 M2513.5,172c-7.8-8.1-17.3-12.2-28.5-12.2s-20.7,4-28.5,12c-7.8,8-11.7,19.1-11.7,33.2s3.9,25.2,11.7,33.5s17.3,12.4,28.5,12.4
		s20.7-4.1,28.5-12.2s11.7-19.2,11.7-33.3C2525.2,191.2,2521.3,180.1,2513.5,172z" />
      <path
        class="st3"
        d="M2735.1,297.4l-56.1-77.2v77.2h-56.4V53.2h56.4v135l55.8-74.9h69.6l-76.6,92.4l77.2,91.7H2735.1z" />
    </g>
  </svg>
</template>
