<script setup>
const data = {
  image:
    "https://visitrasalkhaimah.com/wp-content/uploads/2023/01/best-place-to-celeb-bday.jpg",
  heading: "Relocate to RAK",
  description:
    "Expatriates moving to Ras Al-Khaimah will find there’s a great deal to do and see.",
  slug: "/slug",
};
</script>

<template>
  <nav
    :style="{
      backgroundImage: `linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(${data.image})`,
    }"
  >
    <HomeLinkageMoleContent :data="data" />
  </nav>
</template>

<style scoped>
nav {
  @apply min-h-[430px] w-full flex items-center text-white bg-cover bg-center;
  @apply lg:h-auto lg:aspect-[3/1];
}
</style>
