<template>
  <div id="social-media-bar">
    <div id="social-media-bar-content">
      <span>
        {{ $t("share.connect") }}
      </span>

      <MediaMoleWrapper />
    </div>
  </div>
</template>

<style>
#social-media-bar {
  @apply reverted py-2;
}

#social-media-bar-content {
  @apply alley flex items-center justify-end gap-6 font-bold;
}

#social-media-bar-content span {
  @apply hidden sm:flex;
}
</style>
