<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div class="featured-carousel-card">
    <HomeFeaturedCarouselImage :url="data.url" />
    <HomeFeaturedCarouselTitle>
      {{ data.title }}
    </HomeFeaturedCarouselTitle>
  </div>
</template>

<style>
.featured-carousel-card {
  @apply flex flex-col gap-2;
}
</style>
