<script setup>
const breakpoints = {
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
  1024: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 24,
  },
};
const { locale } = useI18n();

const query = gql`
  query latestnews($locale: String! = "en") {
    posts(last: 13, where: { wpmlLanguage: $locale, featured: "1" }) {
      edges {
        node {
          title
          featuredImage {
            node {
              sourceUrl
            }
          }
        }
      }
    }
  }
`;
const variables = { locale: locale.value };

const { data, error } = await useAsyncQuery(query, variables);
console.log(error);
const content = data.value?.posts?.edges || [];
</script>

<template>
  <div class="carousel-wrapper">
    <Swiper
      id="featured-carousel"
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.featured-carousel-next',
        prevEl: '.featured-carousel-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide v-for="article in content">
        <HomeFeaturedCarouselCard
          :data="{
            url: article.node.featuredImage?.node?.sourceUrl || '',
            title: article.node.title,
          }"
        />
      </SwiperSlide>
    </Swiper>
    <HomeFeaturedCarouselControls />
  </div>
</template>

<style>
.carousel-wrapper {
  @apply alley-width alley-margin lg:px-10 xl:px-11 relative;
}

.carousel-body {
  @apply py-1 px-6;
  @apply md:px-8 lg:px-1 lg:-mx-1;
}
</style>
