<template>
  <div
    class="swiper-button-custom swiper-button-custom-next featured-carousel-next"
  >
    <ShareAtomIconSwiper />
  </div>
  <div
    class="swiper-button-custom swiper-button-custom-prev featured-carousel-prev"
  >
    <ShareAtomIconSwiper />
  </div>
</template>

<style scoped>
.featured-carousel-next svg,
.featured-carousel-prev svg {
  @apply -translate-y-5;
}
</style>
