<script setup>
const { locale } = useI18n();

const query = gql`
  query Education {
    categories(where: { wpmlLanguage: "en", termTaxonomId: "21" }) {
      edges {
        node {
          databaseId
          name
          link
          parentId
          slug
          description
          uri
          Media {
            image {
              sourceUrl
            }
            subTitle
          }
        }
      }
    }
  }
`;

const { data } = await useAsyncQuery(query, { locale: locale.value });
const content = data.value.categories.edges[0].node;
</script>

<template>
  <div
    id="education-hero"
    :style="{
      backgroundImage:
        'linear-gradient(180deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 28%),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 46.98%),url(https://www.yallaschools.com/uploads/DPS_Ras_Al_Khaimah.jpg)',
    }"
  >
    <div id="hero-content">
      <div id="base">
        <EducationHeroBreadcrumb />
        <h1>{{ content.Media.subTitle }}</h1>
        <p v-html="content.description">
        </p>
        <div id="sec" />
      </div>
    </div>
  </div>
</template>

<style scoped>
#education-hero {
  @apply h-[450px] bg-black bg-cover bg-center flex;
  @apply lg:h-auto aspect-[3/1];
}

#hero-content {
  @apply self-end alley text-white;
  @apply px-0;
}

#base {
  @apply flex flex-col gap-2 max-w-lg relative ltr:rounded-tr-2xl rtl:rounded-tl-2xl py-7 px-4 sm:px-6 lg:px-8;
  background: rgba(0, 78, 74, 0.8);
}

#sec {
  @apply absolute inset-0 left-0 -translate-x-full rtl:right-0 rtl:translate-x-full;
  background: rgba(0, 78, 74, 0.8);
}

h1 {
  @apply text-3xl font-semibold;
  @apply lg:text-4xl;
}
</style>
