<script setup>
const props = defineProps(["data"]);
const localePath = useLocalePath();
</script>

<template>
  <NuxtLink :to="localePath(data.slug)">
    <HomeEventsCarouselImage :url="data.image" />

    <div class="events-carousel-data">
      <HomeEventsCarouselCategory>
        {{ data.eventDetails.category }}
      </HomeEventsCarouselCategory>

      <HomeEventsCarouselTitle>
        {{ data.title }}
      </HomeEventsCarouselTitle>

      <HomeEventsCarouselTime
        :time="{
          start: data.eventDetails.startDate,
          end: data.eventDetails.endDate,
        }"
      />

      <HomeEventsCarouselType>
        {{ data.eventDetails.eventType }}
      </HomeEventsCarouselType>
    </div>
  </NuxtLink>
</template>

<style>
.events-carousel-card {
  @apply rounded-lg overflow-hidden shadow;
}

.events-carousel-data {
  @apply p-4 flex flex-col gap-2;
}

.events-carousel-data:last-child {
  @apply justify-end;
}
</style>
