<script setup>
const breakpoints = {
  320: {
    slidesPerView: 1.25,
    slidesPerGroup: 1,
    spaceBetween: 16,
  },
  640: {
    slidesPerView: 2.25,
    slidesPerGroup: 2,
    spaceBetween: 16,
  },
  1024: {
    slidesPerView: 3,
    slidesPerGroup: 3,
    spaceBetween: 24,
  },
};
const { locale } = useI18n();

const query = gql`
  query kindsEvents($locale: String! = "en") {
    events(where: { wpmlLanguage: $locale }) {
      edges {
        node {
          databaseId
          title
          featuredImage {
            node {
              sourceUrl
            }
          }
          eventDetails {
            endDate
            eventType
            featured
            googleMap
            startDate
          }
          kinds {
            edges {
              node {
                name
              }
            }
          }
        }
      }
    }
  }
`;

const { data } = await useAsyncQuery(query, { locale: locale.value });
console.log(data);
const content = data.value?.events?.edges[0] || [];
console.log(content);
</script>

<template>
  <div class="carousel-wrapper">
    <Swiper
      id="events-carousel"
      class="carousel-body"
      :modules="[SwiperNavigation]"
      :navigation="{
        nextEl: '.events-carousel-next',
        prevEl: '.events-carousel-prev',
        disabledClass: 'swiper-disabled',
      }"
      :breakpoints="breakpoints"
    >
      <SwiperSlide v-for="event in content" class="events-carousel-card group">
        <HomeEventsCarouselCard
          :data="{
            image: content.node.featuredImage.node.sourceUrl,
            title: content.node.title,
            slug: 'sink',
            eventDetails: content.node.eventDetails,
          }"
        />
      </SwiperSlide>
    </Swiper>
    <HomeEventsCarouselControls />
  </div>
</template>

<style>
.carousel-wrapper {
  @apply alley-width alley-margin lg:px-10 xl:px-11 relative;
}

.carousel-body {
  @apply py-1 px-6;
  @apply md:px-8 lg:px-1 lg:-mx-1;
}
</style>
