<template>
  <template>
    <div
      class="swiper-button-custom swiper-button-custom-next events-carousel-next"
    >
      <ShareAtomIconSwiper />
    </div>
    <div
      class="swiper-button-custom swiper-button-custom-prev events-carousel-prev"
    >
      <ShareAtomIconSwiper />
    </div>
  </template>
</template>
