<script setup>
const props = defineProps(["url"]);
</script>

<template>
  <div
    :style="{
      backgroundImage: `url(${url})`,
    }"
  ></div>
</template>

<style scoped>
div {
  @apply aspect-video bg-cover bg-center;
}
</style>
