<script setup>
const props = defineProps(["time"]);
console.log(props.time);
</script>

<template>
  <div class="events-carousel-data-time">
    <span class="font-medium">05 Dec - 23 Oct 2022</span>
    <span class="mx-1">|</span>
    <span>6:00 PM</span>
  </div>
</template>
