<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div id="home-linkage-content">
    <HomeLinkageAtomHeading>
      {{ data.heading }}
    </HomeLinkageAtomHeading>

    <HomeLinkageAtomDescription>
      {{ data.description }}
    </HomeLinkageAtomDescription>

    <HomeLinkageAtomCrosslink />
  </div>
</template>

<style>
#home-linkage-content {
  @apply flex flex-col gap-4 alley;
}
</style>
