<template>
  <div
    class="swiper-button-custom swiper-button-custom-next schools-carousel-next"
  >
    <ShareAtomIconSwiper />
  </div>
  <div
    class="swiper-button-custom swiper-button-custom-prev schools-carousel-prev"
  >
    <ShareAtomIconSwiper />
  </div>
</template>
