<template>
  <section>
    <ShareMoleSectionHeading
      :data="{
        slug: '/your-guide/education/schools/',
        color: 'text-[#7D161F]',
      }"
    >
      {{ $t("education.schools") }}
    </ShareMoleSectionHeading>

    <EducationCarouselSchools />
  </section>
</template>
