<template>
  <svg
    width="64"
    height="64"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <rect
      width="64"
      height="64"
      rx="32"
      fill="black"
      fill-opacity="0.1" />
    <path
      d="M38.4124 22.363L36.2216 20.1846L24.0493 32.3692L36.2339 44.5538L38.4124 42.3753L28.4062 32.3692L38.4124 22.363Z"
      fill="white" />
    <rect
      x="0.5"
      y="0.5"
      width="63"
      height="63"
      rx="31.5"
      stroke="white"
      stroke-opacity="0.3" />
  </svg>
</template>
