<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div class="home-hero-slide-content">
    <div class="home-hero-slide-content-actual">
      <HomeHeroAtomHeading>
        {{ data.heading }}
      </HomeHeroAtomHeading>

      <HomeHeroAtomDescription>
        {{ data.description }}
      </HomeHeroAtomDescription>
    </div>
  </div>
</template>

<style>
.home-hero-slide-content {
  @apply alley flex h-full w-full py-6 items-end justify-between;
}

/* Sorry for failing my BEM classes */
.home-hero-slide-content-actual {
  @apply flex flex-col gap-2 mb-8 lg:mb-12 max-w-md;
}
</style>
