<script setup>
const props = defineProps(["data"]);
</script>

<template>
  <div
    id="education-hero"
    :style="{
      backgroundImage:
        'linear-gradient(180deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 28%),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 46.98%),url(https://www.yallaschools.com/uploads/DPS_Ras_Al_Khaimah.jpg)',
    }"
  >
    <div id="hero-content">
      <div id="base">
        <div class="breadcrumb font-semibold">
          Your Guide / Education / 
          <span class="font-normal"> {{ data.category }}</span>
        </div>
        <h1>{{ data.title }}</h1>
        <p>
          {{ data.description }}
        </p>
        <div id="sec" />
      </div>
    </div>
  </div>
</template>

<style scoped>
#education-hero {
  @apply h-[450px] bg-black bg-cover bg-center flex;
  @apply lg:h-auto aspect-[3/1];
}

#hero-content {
  @apply self-end alley text-white;
  @apply px-0;
}

#base {
  @apply flex flex-col gap-2 max-w-lg relative ltr:rounded-tr-2xl rtl:rounded-tl-2xl py-7 px-4 sm:px-6 lg:px-8;
  background: rgba(0, 78, 74, 0.8);
}

#sec {
  @apply absolute inset-0 left-0 -translate-x-full rtl:right-0 rtl:translate-x-full;
  background: rgba(0, 78, 74, 0.8);
}

h1 {
  @apply text-3xl font-semibold;
  @apply lg:text-4xl;
}
</style>
