<template>
  <div class="flex items-center gap-2">
    <span class="text-[#787878]">Sort by :</span>

    <Listbox as="div" class="relative">
      <ListboxButton class="flex items-center gap-2">
        <span>Price</span>

        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.99336 5.41991C1.6667 5.74658 1.6667 6.27324 1.99336 6.59991L7.53336 12.1399C7.79336 12.3999 8.21336 12.3999 8.47336 12.1399L14.0134 6.59991C14.34 6.27325 14.34 5.74658 14.0134 5.41991C13.6867 5.09325 13.16 5.09325 12.8334 5.41991L8.00003 10.2466L3.1667 5.41324C2.84669 5.09324 2.31336 5.09324 1.99336 5.41991Z"
            fill="#323232"
          />
        </svg>
      </ListboxButton>
      <ListboxOptions
        class="absolute top-full bg-white py-2 px-5 shadow flex flex-col gap-2"
      >
        <ListboxOption> Price </ListboxOption>
        <ListboxOption> Rating </ListboxOption>
      </ListboxOptions>
    </Listbox>
  </div>
</template>
